<div class="mainBlock card">
  <div class="entete">
      <h1>
          <span routerLink="../../list-precomvts" title=""><i class="fa fa-list lien" aria-hidden="true"></i></span>
          {{"precomvt.title0" | translate}}
      </h1>

  </div>
  <div class="infos">
    <div class="tableMissions card table-responsive mt-3">
        <table class="table table-striped text-dark table-sm table-inverse table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>{{"precomvt.table3.title1" | translate}}</th>
                    <th>{{"precomvt.table3.title2" | translate}}</th>
                    <th>{{"precomvt.table3.title3" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{precoMvt.libelle}}</td>
                    <td>{{precoMvt.etat}}</td>
                    <td>{{precoMvt.type}}</td>
                </tr>
            </tbody>
        </table>

    </div>
        <p class="title">
            Tableau recaputilatif d'une préconisation
        </p>
        <div *ngIf="eltRessource.length>0" class="tableAttributs card table-responsive">
            <table class="table table-striped table-sm table-inverse text-dark table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>{{"precomvt.table3.title4" | translate}}</th>
                        <th>{{"precomvt.table3.title5" | translate}}</th>
                        <th>{{"precomvt.table3.title6" | translate}}</th>
                        <th>{{"precomvt.table3.title7" | translate}}</th>
                        <th>{{"precomvt.table3.title8" | translate}}</th>
                        <th>{{"precomvt.table3.title9" | translate}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let precomvtqte of eltRessource">
                        <td> {{precomvtqte.ressource!.libelle}}</td>
                        <td>{{precomvtqte.quantiteMax}}</td>
                        <td>{{precomvtqte.quantiteMin}}</td>
                        <td>{{precomvtqte.montantMax}}</td>
                        <td>{{precomvtqte.montantMin}}</td>
                        <td>{{distCat(precomvtqte.distributeur!)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div  *ngIf="eltFamille.length>0" class="tableAttributs card table-responsive">
        <table class="table table-striped table-sm table-inverse text-dark table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>{{"precomvt.table3.title10" | translate}}</th>
                    <th>{{"precomvt.table3.title11" | translate}}</th>
                    <th>{{"precomvt.table3.title12" | translate}}</th>
                    <th>{{"precomvt.table3.title13" | translate}}</th>
                    <th>{{"precomvt.table3.title14" | translate}}</th>
                    <th>{{"precomvt.table3.title15" | translate}}</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let precomvtqte of eltFamille">
                    <td>{{libelleCat(precomvtqte.famille!)}}</td>
                    <td>{{precomvtqte.quantiteMax}}</td>
                    <td>{{precomvtqte.quantiteMin}}</td>
                    <td>{{precomvtqte.montantMax}}</td>
                    <td>{{precomvtqte.montantMin}}</td>
                    <td>{{distCat(precomvtqte.distributeur!)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="actionButton mt-2">
            <button mat-button [mat-dialog-close] cdkFocusInitial class="btn btnValidation">{{'lists.button10' | translate}}</button>
        </div>
  </div>
</div>
