
select{
    border: none;
    box-shadow: 0 0 2px rgb(220, 220, 220);
    height: 24px;
    background-color: #28a74563;
    color: rgb(108, 108, 108);
    padding: 0 10px;
    border-radius: 5px;
}

.badge-container {
    margin-top: 8px;
  }
  
  .badge-content {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 8px;
  }
  
  .remove-button {
    margin-left: 8px;
    cursor: pointer;
  }
  
  