.input-field {
  width: 60px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

::ng-deep .readonly-select {
  pointer-events: none;
  background-color: transparent;
  color: black;
}


/* Wrapper pour le tableau */
.financial-table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iOS */
}

/* Barre de défilement stylisée */
.financial-table-wrapper::-webkit-scrollbar {
  height: 10px;
}

.financial-table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.financial-table-wrapper::-webkit-scrollbar-thumb {
  background: #27ae60;
  border-radius: 4px;
}

.financial-table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #1e8449;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}