<div id="mainSection">
  <div class="card block" id="top2">
      <div class="card-header" class="entete pt-4 pb-4">
        {{"parours.title" | translate}} {{titre}}
      </div>
      <div class="card-body">
          <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
              <div class="">
                  <div class="">
                      <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="libelle" class="label">
                                    {{"parours.table.title1" | translate}}<span style="color: red;" aria-label="required">*</span>
                                  </label>
                                  <input type="text" formControlName="libelle" name="libelle" id="libelle"  placeholder="libelle"  class="form-control" required>
                              </div>
                              <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                                  <div *ngIf="f['libelle'].errors['required']">{{"parours.form.text1" | translate}}</div>
                              </div>
                          </div>
                      </div>

                      <div class="form-group">
                              <div class="champs">
                                  <label for="_etape" class="label" >
                                    {{"parours.table.title2" | translate}}<span style="color: red;" aria-label="required">*</span>
                                  </label>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-select  formControlName="_etape"   multiple [compareWith]="compareItem">
                                      <mat-option  *ngFor="let membre of etape$ |async" [value]="membre">{{membre.libelle}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                              <div  *ngIf="submitted && f['_etape'].value.length<1"  class="alert alert-danger blockErreur" >
                                  <div>{{"parours.form.text1" | translate}}</div>
                              </div>
                           </div>

                  </div>
              </div>
              <div class="actionButton">
                  <button class="btn" routerLink="../list-missions"><i class="fa fa-reply mr-1" aria-hidden="true"></i>{{'lists.button2' | translate}}</button>
                  <button type="submit" class="btn btnValidation">{{btnLibelle}}</button>
              </div>
          </form>
      </div>
  </div>
</div>

