<div id="">
  <div class="title" id="top1">
    <app-entete class="title"></app-entete>
  </div>
  <div class="card container-fluid" id="cardBlock">
    <!-- Header -->
    <div class="card-header pt-3">
      <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between">

        <!-- Barre de recherche -->
        <div class="form-inline mb-2 mb-md-0 w-100 w-md-auto">
          <form class="example-form-entete w-100">
            <input class="form-control w-100" placeholder="{{'patient.search-bar' | translate}}" type="text" matInput
              aria-label="Rechercher" [formControl]="myControl" [matAutocomplete]="auto">

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions" [value]="option"
                (onSelectionChange)="rechercherListingAttribut(option)">
                {{option.titre}}
              </mat-option>
            </mat-autocomplete>
          </form>
        </div>

        <!-- Bouton ajouter -->
        <div role="button" id="addItemBotton" routerLink="../attribut-nouveau" class="ml-md-3 mt-2 mt-md-0">
          <span title="Ajouter un attribut">
            <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="card-body p-0" id="tableBlock">
      <div class="table-responsive w-100" style="overflow-x: auto;">
        <table class="table table-sm table-centered table-striped table-bordered w-100" mat-table
          [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

          <!-- titre Column -->
          <ng-container matColumnDef="titre">
            <th class="containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'attributs.table.title1' |
              translate}} </th>
            <td class="containCell" mat-cell *matCellDef="let element"> {{element.titre}} </td>
          </ng-container>

          <!-- description Column -->
          <ng-container matColumnDef="description">
            <th class="containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'attributs.table.title2' |
              translate}} </th>
            <td class="containCell" mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <!-- etat Column -->
          <ng-container matColumnDef="etat">
            <th class="containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'attributs.table.title3' |
              translate}} </th>
            <td class="containCell" mat-cell *matCellDef="let element"> {{element.etat}} </td>
          </ng-container>

          <!-- valeursParDefaut Column -->
          <ng-container matColumnDef="valeursParDefaut">
            <th class="containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'attributs.table.title9' |
              translate}} </th>
            <td class="containCell" mat-cell *matCellDef="let element"> {{element.valeursParDefaut}} </td>
          </ng-container>

          <!-- type Column -->
          <ng-container matColumnDef="type">
            <th class="containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'attributs.table.title6' |
              translate}} </th>
            <td class="containCell" mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"patient.table.title8" | translate}}
            </th>
            <td class="containCell" mat-cell *matCellDef="let element">
              <div id="actions">
                <button mat-button [matMenuTriggerFor]="menu"><span>...</span></button>
                <mat-menu #menu="matMenu">
                  <ng-container *ngFor="let action of actions">
                    <button mat-menu-item *ngIf="action.bouton == 'false'" [routerLink]="[action.lien,element.id]">
                      <span>{{action.nom}}</span>
                    </button>
                  </ng-container>
                </mat-menu>
              </div>
            </td>
          </ng-container>

          <!-- header & rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- pagination -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>

</div>