<div id="mainSection">
  <div class="card block">
      <div class="card-header pt-4 pb-4 entete">{{'role.header' | translate}}</div>
      <div class="card-body">
          <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
              <div class="">
                  <div class="">
                      <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="titre" class="label">
                                    {{'role.table.title1' | translate}}<span style="color: red;" aria-label="required">*</span>
                                  </label>
                                  <input type="text" formControlName="titre" name="titre" id="titre"  placeholder="{{'role.table.title2' | translate}}"  class="form-control" required>
                              </div>
                              <div  *ngIf="submitted && f['titre'].errors"  class="alert alert-danger" >
                                  <div *ngIf="f['titre'].errors['required']">{{'role.form.text1' | translate}}</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group" id="eta">
                        <div>
                            <div class="champs">
                              <label for="etat" class="label" >
                                {{'role.table.title3' | translate}}
                              </label>
                              <input  type="checkbox" checked value="true" formControlName="etat" name="etat" class="form-control" id="etat" placeholder="" >
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div>
                            <div class="champs">
                                <label for="description" class="label" >
                                  {{'role.table.title4' | translate}}
                                </label>
                                <input type="text" formControlName="description"  name="description"  id="description" placeholder="{{'role.table.title5' | translate}}" class="form-control" >
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="actionButton">
                <button class="btn" routerLink="../list-roles">{{'role.lists.button1' | translate}}</button>
                <button type="submit" class="btn">{{btnLibelle}}</button>
              </div>
          </form>
      </div>
  </div>
</div>
