#mainBlock{
    background-color: #ffffff;
    padding: 10px;
    width: 60%;
    height: max-content !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}