<div id="" class="d-flex flex-column justify-content-around">
  <div class="title" id="top1">
    <app-entete class="title"></app-entete>
  </div>
  <div class="card container-fluid" id="top">
    <div class="card-header pt-3">
      <div class="d-flex flex-wrap align-items-center justify-content-between tableTools">

        <!-- Champ recherche -->
        <div class="form-inline mb-2 mb-md-0">
          <form class="example-form-entete w-100">
            <input placeholder="{{'patient.search-bar' | translate}}" type="text" matInput aria-label="Rechercher"
              [formControl]="myControl" [matAutocomplete]="auto" class="form-control w-100">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions" [value]="option"
                (onSelectionChange)="rechercherListingDistributeur(option)">
                {{option.raisonSocial}}
              </mat-option>
            </mat-autocomplete>
          </form>
        </div>

        <!-- Bouton ajout -->
        <div role="button" id="addItemBotton" routerLink="../distributeur-nouveau" class="ml-md-2">
          <span title="Ajouter un patient">
            <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <!-- Table responsive -->
    <div class="card-body p-0" id="tableBlock">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered" mat-table [dataSource]="dataSource" matSort
          (matSortChange)="announceSortChange($event)">

          <!-- Raison Sociale -->
          <ng-container matColumnDef="raisonSocial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{"distributeur.table2.title1"| translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.raisonSocial}} </td>
          </ng-container>

          <!-- Adresse -->
          <ng-container matColumnDef="adresse">
            <th mat-header-cell *matHeaderCellDef>
              {{"distributeur.table2.title2"| translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
          </ng-container>

          <!-- Etat -->
          <ng-container matColumnDef="etat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{"distributeur.table2.title3"| translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.etat}} </td>
          </ng-container>

          <!-- Téléphone -->
          <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef>
              {{"distributeur.table2.title4"| translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
          </ng-container>

          <!-- Mail -->
          <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef>
              {{"distributeur.table2.title5"| translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
          </ng-container>

          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{"patient.table.title8" | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex justify-content-center">
                <button mat-button [matMenuTriggerFor]="menu"><span>...</span></button>
                <mat-menu #menu="matMenu">
                  <ng-container *ngFor="let action of actions">
                    <button mat-menu-item *ngIf="action.bouton == 'false'" [routerLink]="[action.lien,element.id]">
                      <span>{{action.nom}}</span>
                    </button>
                  </ng-container>
                </mat-menu>
              </div>
            </td>
          </ng-container>

          <!-- Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Pagination -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>

</div>